@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.btn_container {
    width: 114px;
    height: 40px;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin: 21px 0 32px 50px;
    padding: 3px;
    border-radius: 15px;
    transition: transform 0.1s;

    .arrow_btn {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        fill: #000;
        margin: 0 8px 0 0;
        transition: fill 0.3s;
    }

    p {
        margin: 0;
        color: #000;
        font-family: 'Karla', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        transition: color 0.3s;
    }

    &:hover {
        .arrow_btn, p, svg {
            color: rgb(255, 0, 0);
            fill: red;
        }
    }

    &:active {
        transform: translateX(-7px);
    }
} 

.profile_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 142px;

    .avatar {
        border-radius: 150px;
        border: 5px solid var(--graybase-gray-6, #F2F2F7);
        margin-bottom: 16px;
    }

    .name {
        color: var(--basic-black, #081F32);
        font-size: 48px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 48px;
    }

    .informations {
        color: var(--graybase-gray-1, #8E8E93);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15px;
        margin-bottom: 48px;
    }

    .info_block_container{
        min-width: 413px;
        min-height: 64px;
    }

    .title{
        color: var(--basic-black, #081F32);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.15px;
        margin: 0 0 0 16px;
    }

    .info {
        color: #6E798C;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.25px;
        margin: 0 0 11px 16px;
    }

    .divider {
        display: flex;
        width: 394.644px;
        height: 1px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: rgba(33, 33, 33, 0.08);
        margin: 0 0 0 16px;
    }

}

