.reg_form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
    justify-content: center; 
    align-items: center;

    h1{
        margin: 20px 20px 40px 20px;
        color: black;    
    }
    
    .input_field{
        margin: 10px;
        width: 223px;
    }

    .toggle_btn{
        width: 115px;
        height: 115px;
    }
    
    .reg_btn {
        margin: auto 0px 30px 0px;
    }

    .close_btn {
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px 10px 0 0;
        border: none;
        padding: 3px;
        text-align: center;
        display: flex;
        justify-content: center;
        transition: transform 0.4s ease;

        svg {
            width: 15px;
            height: 15px;
            padding: 0;
            margin: 0;
            fill: rgb(38, 88, 203);
            transition: fill 0.4s ease;
        }

        &:hover {
            transform: rotate(180deg);

            svg {
                fill: red;
            } 
        }
    }

    .toggle_password {
        border: 1px solid black;
        width: 3px;
    }

    .error_message {
        color: red;
    }
}


