.reg_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
    justify-content: center; 
    align-items: center;

    h1{
        margin: 20px 20px 40px 20px;
        color: black;
    
    }
    
    .input_field{
        margin: 10px;
    }
    
    .reg_btn {
        margin: 40px;
    }
}


