.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.logo {
    margin: 86px 0 32px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1020px;
    flex-wrap: wrap;
    margin-bottom: 188px;
}